.body-astacio {
    background-color: #DBDBDD;
}


.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1050;
}
.navbar {
    position: relative;
    z-index: 1100;
}




.noticias {
    margin-top: 10%;
    margin-bottom: 7%;
    color: black;
}

.noticia {
    padding-bottom: 10%;
}



.portaforza a {
    color: white; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado */
    font-weight: bold; /* Texto en negrita */
}

.portaforza a:hover {
    color: white; /* Cambiar color al pasar el ratón */
}

.astacioco a {
    color: white; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado */
    font-weight: bold; /* Texto en negrita */
}

.astacioco a:hover {
    color: white; /* Cambiar color al pasar el ratón */
}

#footer-astacio {
    color: #fff;
}

